In [1]:
import pandas as pd

In [2]:
import sys
sys.path.append('C:/Users/e.sansebastian/OneDrive - EXPONDO/Ironhack/Weeks/Week_5/Mid_bootcamp_project/src')

In [3]:
from functions import *

In [4]:
# We read the raw data into a dataframe. We use the separator ";" in order to be able to properly separate the columns
marketing_df=pd.read_csv("C:/Users/e.sansebastian/OneDrive - EXPONDO/Ironhack/Weeks/Week_5/Mid_bootcamp_project/mid_project/data/raw/marketing_campaign_dataset.csv")

In [5]:
marketing_df.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,"$16,174.00",6.29,Chicago,Spanish,506,1922,6,Health & Wellness,2021-01-01
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,"$11,566.00",5.61,New York,German,116,7523,7,Fashionistas,2021-01-02
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,"$10,200.00",7.18,Los Angeles,French,584,7698,1,Outdoor Adventurers,2021-01-03
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,"$12,724.00",5.55,Miami,Mandarin,217,1820,7,Health & Wellness,2021-01-04
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,"$16,452.00",6.50,Los Angeles,Mandarin,379,4201,3,Health & Wellness,2021-01-05

In [6]:
# We check the shape of the dataframe
print(f"The marketing dataframe contains {marketing_df.shape[0]} rows and {marketing_df.shape[1]} columns.")

The marketing dataframe contains 200000 rows and 16 columns.

In [7]:
marketing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       200000 non-null  int64
 1   Company           200000 non-null  object
 2   Campaign_Type     200000 non-null  object
 3   Target_Audience   200000 non-null  object
 4   Duration          200000 non-null  object
 5   Channel_Used      200000 non-null  object
 6   Conversion_Rate   200000 non-null  float64
 7   Acquisition_Cost  200000 non-null  object
 8   ROI               200000 non-null  float64
 9   Location          200000 non-null  object
 10  Language          200000 non-null  object
 11  Clicks            200000 non-null  int64
 12  Impressions       200000 non-null  int64
 13  Engagement_Score  200000 non-null  int64
 14  Customer_Segment  200000 non-null  object
 15  Date              200000 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 24.4+ MB

In [8]:
# Checking at the data we can see some incorrect data, taken into account the content of specific columns.We comment them below:
# Acquisition cost should be float type
# ROI: should be float type
# Date: should be datetime format
# Duration could then considered as a numeric value, but we will leave it as an attribute for now to be able to plot and get that level of granularity

# We will proceed below to clean the data types with functions, when possible or reasonable.

In [9]:
# First thing we will do is to clean the headers and convert them into snake_case, which will ease then later the manipulation. We will use a function
# called lowercase_headers_and_replace_spaces() from our functions module

In [10]:
marketing_df=lowercase_headers_and_replace_spaces(marketing_df)
display(marketing_df.columns)

Index(['campaign_id', 'company', 'campaign_type', 'target_audience',
       'duration', 'channel_used', 'conversion_rate', 'acquisition_cost',
       'roi', 'location', 'language', 'clicks', 'impressions',
       'engagement_score', 'customer_segment', 'date'],
      dtype='object')

In [11]:
# Being something punctual we will convert it with the str.replace method, rather than passing it into a function this time, as it may not be very useful in the future.
marketing_df['acquisition_cost'] = marketing_df['acquisition_cost'].str.replace('$', '').str.replace(',', '.').str.replace('.00', '')
marketing_df.head()

,campaign_id,company,campaign_type,target_audience,duration,channel_used,conversion_rate,acquisition_cost,roi,location,language,clicks,impressions,engagement_score,customer_segment,date
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,16.174,6.29,Chicago,Spanish,506,1922,6,Health & Wellness,2021-01-01
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,11.566,5.61,New York,German,116,7523,7,Fashionistas,2021-01-02
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,10.200,7.18,Los Angeles,French,584,7698,1,Outdoor Adventurers,2021-01-03
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,12.724,5.55,Miami,Mandarin,217,1820,7,Health & Wellness,2021-01-04
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,16.452,6.50,Los Angeles,Mandarin,379,4201,3,Health & Wellness,2021-01-05

In [12]:
# In order to speed up future data conversions, we pass a function to be able to convert a list of columns to numeric
def columns_to_numeric(df:pd.DataFrame,cols:list)->pd.DataFrame:
    ''' 
    This columns takes a list of columns from a DataFrame and converts them into numeric.
    Input:
    
    df: dataframe we want to clean
    cols: list of columns we want to convert to numeric.

    Output:
    colums properly formatted to numeric.
    '''
    
    df2 = df.copy()

    # we interate over the list of columns we want to convert into numeric
    for col in cols:
        df2[col] = pd.to_numeric(df2[col], errors='coerce')

    return df2

In [13]:
marketing_df=columns_to_numeric(marketing_df,["acquisition_cost","roi"])

In [14]:
print(marketing_df.dtypes)

campaign_id           int64
company              object
campaign_type        object
target_audience      object
duration             object
channel_used         object
conversion_rate     float64
acquisition_cost    float64
roi                 float64
location             object
language             object
clicks                int64
impressions           int64
engagement_score      int64
customer_segment     object
date                 object
dtype: object

In [15]:
# We next convert the date into date format. I thought about doing it with the next function of extracting mont, quarter, etc., but we should avoid performing multiple actions into 1 column to make it more generic

In [16]:
marketing_df["date"]=pd.to_datetime(marketing_df['date'])

In [17]:
# We will create a function to extract the day as day of the week, month, quarter and week of the year. This should help us analyse the seasonality

def date_extract(df:pd.DataFrame,col:"string")->pd.DataFrame:
    '''
    This function takes a DataFrame and extracts the month, quarter and week of the year into new columns

    Input:

    df: The dataframe we want to apply the changes on
    col: The date column we want to extract the month, quarter, week of the year into new colums from

    Output:

    it returns the dataframe with the new 3 columns
    '''
    # We create a copy of our df and extract the corresponding values from the date colum inserted as an input:
    df2=df.copy()
    df2["month"] = df2[col].dt.month
    df2["quarter"] =  df2[col].dt.quarter
    df2["week_of_year"]= df2[col].dt.isocalendar().week

    return df2

In [18]:
marketing_df = date_extract(marketing_df,"date")

In [19]:
marketing_df.head()

,campaign_id,company,campaign_type,target_audience,duration,channel_used,conversion_rate,acquisition_cost,roi,location,language,clicks,impressions,engagement_score,customer_segment,date,month,quarter,week_of_year
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,16.174,6.29,Chicago,Spanish,506,1922,6,Health & Wellness,2021-01-01,1,1,53
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,11.566,5.61,New York,German,116,7523,7,Fashionistas,2021-01-02,1,1,53
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,10.200,7.18,Los Angeles,French,584,7698,1,Outdoor Adventurers,2021-01-03,1,1,53
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,12.724,5.55,Miami,Mandarin,217,1820,7,Health & Wellness,2021-01-04,1,1,1
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,16.452,6.50,Los Angeles,Mandarin,379,4201,3,Health & Wellness,2021-01-05,1,1,1

In [20]:
display(marketing_df.dtypes)

campaign_id                  int64
company                     object
campaign_type               object
target_audience             object
duration                    object
channel_used                object
conversion_rate            float64
acquisition_cost           float64
roi                        float64
location                    object
language                    object
clicks                       int64
impressions                  int64
engagement_score             int64
customer_segment            object
date                datetime64[ns]
month                        int32
quarter                      int32
week_of_year                UInt32
dtype: object

In [21]:
display(marketing_df["target_audience"].value_counts())

target_audience
Men 18-24      40258
Men 25-34      40023
All Ages       40019
Women 25-34    40013
Women 35-44    39687
Name: count, dtype: int64

In [22]:
# We will split the "demographic" target_audience into 2 columns, provided a specific pattern is present. In this case we will look for digit-digit

import pandas as pd

def extract_pattern(df: pd.DataFrame, col: str, pattern: str, new_col: str) -> pd.DataFrame:
    '''
    This function extracts a pattern from a specified column into a new column.

    Input:
    - df: The DataFrame we want to apply the changes to.
    - col: The column containing the text to search for the pattern.
    - pattern: The regular expression pattern to extract.
    - new_col: The name of the new column to store the extracted patterns.

    Output:
    - Returns the DataFrame with the new column.
    '''
    df2 = df.copy()

    # We use the methode str. to extract the pattern into a new column
    df2[new_col] = df2[col].str.extract(pattern, expand=False)

    # If there are missing values in the original column, fill them in the new column
    df2[new_col].fillna("all ages", inplace=True)

    return df2

In [23]:
marketing_df=extract_pattern(marketing_df,"target_audience", r'(\d{2}-\d{2})',"age_range")

In [24]:
# We check the values of the new age-ranges column
marketing_df["age_range"].value_counts()

age_range
25-34       80036
18-24       40258
all ages    40019
35-44       39687
Name: count, dtype: int64

In [25]:
marketing_df["target_audience"].value_counts()

target_audience
Men 18-24      40258
Men 25-34      40023
All Ages       40019
Women 25-34    40013
Women 35-44    39687
Name: count, dtype: int64

In [26]:
# We now will define a function to clean the remaining target_audience column to only have men, women and all genders

def gender_cleaning(df:pd.DataFrame,col:"string")->pd.DataFrame:
    '''
    This function takes a dataframe as input and returns 3 values for gender, men, women and all genders

    Input: 
    df: dataframe to be modified
    col: name of the column we want to apply the changes on

    Output:

    Returns the dataframe with the 3 options listed above: men, women and all genders.

    '''
    df2=df.copy()
    # Using the lambda function from the data transformation notebook, we adapt the function to the current purpose
    df2 = df.copy()
    df2[col] = df2[col].apply(lambda val: "women" if "women" in str(val).lower() else ("men" if "men" in str(val).lower() else "all genders"))

    return df2

In [27]:
marketing_df= gender_cleaning(marketing_df,"target_audience")

In [28]:
marketing_df["target_audience"].value_counts()

target_audience
men            80281
women          79700
all genders    40019
Name: count, dtype: int64

In [29]:
marketing_df.head()

,campaign_id,company,campaign_type,target_audience,duration,channel_used,conversion_rate,acquisition_cost,roi,location,language,clicks,impressions,engagement_score,customer_segment,date,month,quarter,week_of_year,age_range
0,1,Innovate Industries,Email,men,30 days,Google Ads,0.04,16.174,6.29,Chicago,Spanish,506,1922,6,Health & Wellness,2021-01-01,1,1,53,18-24
1,2,NexGen Systems,Email,women,60 days,Google Ads,0.12,11.566,5.61,New York,German,116,7523,7,Fashionistas,2021-01-02,1,1,53,35-44
2,3,Alpha Innovations,Influencer,men,30 days,YouTube,0.07,10.200,7.18,Los Angeles,French,584,7698,1,Outdoor Adventurers,2021-01-03,1,1,53,25-34
3,4,DataTech Solutions,Display,all genders,60 days,YouTube,0.11,12.724,5.55,Miami,Mandarin,217,1820,7,Health & Wellness,2021-01-04,1,1,1,all ages
4,5,NexGen Systems,Email,men,15 days,YouTube,0.05,16.452,6.50,Los Angeles,Mandarin,379,4201,3,Health & Wellness,2021-01-05,1,1,1,25-34

In [30]:
# We check the columns and data types again
marketing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   campaign_id       200000 non-null  int64
 1   company           200000 non-null  object
 2   campaign_type     200000 non-null  object
 3   target_audience   200000 non-null  object
 4   duration          200000 non-null  object
 5   channel_used      200000 non-null  object
 6   conversion_rate   200000 non-null  float64
 7   acquisition_cost  200000 non-null  float64
 8   roi               200000 non-null  float64
 9   location          200000 non-null  object
 10  language          200000 non-null  object
 11  clicks            200000 non-null  int64
 12  impressions       200000 non-null  int64
 13  engagement_score  200000 non-null  int64
 14  customer_segment  200000 non-null  object
 15  date              200000 non-null  datetime64[ns]
 16  month             200000 non-null  int32
 17  quarter           200000 non-null  int32
 18  week_of_year      200000 non-null  UInt32
 19  age_range         200000 non-null  object
dtypes: UInt32(1), datetime64[ns](1), float64(3), int32(2), int64(4), object(9)
memory usage: 28.4+ MB

In [33]:
# We consider the data as clean and save the "cleaned version of the csv into the corresponding folder"

marketing_df.to_csv('C:/Users/e.sansebastian/OneDrive - EXPONDO/Ironhack/Weeks/Week_5/Mid_bootcamp_project/mid_project/data/cleaned/cleaned_marketing_df.csv')